<div class="dashboard-container overlay-10 padded-content-page" layout="column">

  <div layout="row" layout-sm="column" layout-margin>
      <tri-widget flex title="Clubes" content-layout="column" content-layout-align="center">
          <md-data-table-container>
              <table md-data-table class="md-data-table" md-progress="vm.deferred">
                  <thead md-order="vm.query.order" md-trigger="vm.getClubs">
                      <tr>
                          <th name="Name" order-by="name" ></th>
                          <th name="UF" order-by="UF" ></th>
                          <th name="Responsável" order-by="admin.firstname"></th>
                          <th name="Editar"></th>
                          <th name="Exluir"></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="club in vm.clubs | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
                          <td>{{::club.name}} </td>
                          <td>{{::club.UF}}</td>
                          <td>{{::club.admin.firstname}} {{::club.admin.surname}}</td>
                          <td>
                              <md-button ng-click="vm.editClub(club, $event)" class="md-icon-button" aria-label="Open Order">
                                  <md-icon md-font-icon="zmdi zmdi-edit"></md-icon>
                              </md-button>
                          </td>
                          <td>
                              <md-button ng-click="vm.removeClub(club, $event)" class="md-icon-button" aria-label="Open Order">
                                  <md-icon md-font-icon="zmdi zmdi-delete"></md-icon>
                              </md-button>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </md-data-table-container>
          <md-data-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.clubs.length}}"></md-data-table-pagination>
      </tri-widget>
  </div>

</div>
