<div class="dashboard-container overlay-10 padded-content-page" layout="column">
  <div layout="column" layout-margin>
    <md-card flex>
        <md-card-content >
          <!-- <h4 flex="30">Selecione o campeonato</h4> -->
          <div layout="row" layout-align="space-around center">
            <md-select class="md-select-form" style="margin: 19px 0 26px 0;" flex=30 ng-model="vm.compSelected" placeholder="Selecione o Campeonato">
                <md-option ng-value="comp" ng-repeat="comp in vm.competitions">{{comp.name}}</md-option>
            </md-select>
              <span flex></span>
              <md-button ng-click="vm.addStep(vm.compSelected, $event)" ng-disabled="!vm.compSelected" class="md-primary md-mini md-raised md-fab"  aria-label="adicionar">
                  <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
                  <md-tooltip>Adicionar Etapa</md-tooltip>
              </md-button>
          </div>
        </md-card-content>
      </md-card>
  </div>
</div>




<div class="dashboard-container overlay-10 padded-content-page" layout="column">
  <div layout="row" layout-sm="column" layout-margin>
    <tri-widget flex title="Etapas por campeonato" content-layout="column" content-layout-align="center">
        <md-data-table-container>
            <table md-data-table class="md-data-table" md-progress="vm.deferred">
                <thead md-order="vm.query.order" md-trigger="vm.getCompetitions">
                    <tr>
                        <th name="Name" order-by="name" ></th>
                        <th name="Data" order-by="stepDate" ></th>
                        <th name="Club"></th>
                        <th name="Status"></th>
                        <th name="Editar"></th>
                        <th name="Exluir"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="step in vm.compSelected.steps | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
                        <td>{{::step.name}} </td>
                        <td>{{::step.stepDate | amDateFormat:'DD/MM/YYYY'}}</td>
                        <td>{{::step.club.name}}</td>
                        <td flex="10">
                          <span class="status"  ng-class="'status-'+step.isActive"  >
                              {{::step.isActive ? "Aberto": "Fechado"}}
                          </span>
                        </td>
                        <td >
                            <md-button ng-click="vm.editStep(step, $event)" class="md-icon-button" aria-label="Open Order">
                                <md-icon md-font-icon="zmdi zmdi-edit"></md-icon>
                            </md-button>
                        </td>
                        <td>
                            <md-button ng-click="vm.removeStep(step, $event)" class="md-icon-button" aria-label="Open Order">
                                <md-icon md-font-icon="zmdi zmdi-delete"></md-icon>
                            </md-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-data-table-container>
        <md-data-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.compSelected.steps.length}}"></md-data-table-pagination>
    </tri-widget>
  </div>
</div>
