.sales-dashboard {
  .status {
    padding: 8px 14px;
    border-radius: 6px;
    min-width: 60px;
    display: inline-block;
    text-align: center;
    color: #fff;
  }
  .status-Cancelada {
    background-color: #696868;
  }
  .status-Aceita {
    background-color: #8BC34A;
  }
  .status-Processando {
    background-color: #F5BA0A ;
  }
}
table[md-data-table]:not([md-row-select]) > tbody > tr > td:first-child, table[md-data-table]:not([md-row-select]) > tfoot > tr > td:first-child, table[md-data-table]:not([md-row-select]) > thead:not([md-table-progress]) > tr > th:first-child {
    padding: 0 10px 0 24px;
    max-width: 70px;
}

table[md-data-table]>thead:not([md-table-progress])>tr>th {
    font-size: 12px;
    color: rgba(0,0,0,.54);
    white-space: normal;
}
// .md-button.md-icon-button {
//     margin: 0 6px;
//     height: 40px;
//     min-width: 0;
//     line-height: 14px;
//     width: 35px;
//     border-radius: 50%;
// }

table[md-data-table]>tbody>tr>td:last-child, table[md-data-table]>tfoot>tr>td:last-child, table[md-data-table]>thead:not([md-table-progress])>tr>th:last-child {
    padding: 0 14px 0 8px;
}
table[md-data-table]:not([md-row-select]) > tbody > tr > td:first-child, table[md-data-table]:not([md-row-select]) > tfoot > tr > td:first-child, table[md-data-table]:not([md-row-select]) > thead:not([md-table-progress]) > tr > th:first-child {
    padding: 0 10px 0 24px;
    max-width: 150px;
}
