<md-dialog  class="order-dialog mobile-fullwidth-dialog" flex="60" flex-sm="100">
  <div flex class="loader" ng-show="vm.loading" layout="column" layout-fill layout-align="center center"><div class="loader-inner"><md-progress-circular md-mode="indeterminate"></md-progress-circular></div><h3 class="md-headline">FOP</h3></div>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 flex >
                <span>#{{vm.step.name}} - {{vm.step.locate}} {{vm.step.stepDate | amDateFormat:'DD/MM/YYYY' }}</span>
            </h2>
            <!-- <md-button class="md-icon-button" ng-click="vm.printClick()" aria-label="print">
                <md-icon md-font-icon="zmdi zmdi-print"></md-icon>
            </md-button> -->
            <md-button class="md-icon-button" ng-click="vm.cancelClick()" aria-label="cancel">
                <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content class="padding-20">
      <form name="entryForm">
        <div flex layout="row" class="margin-bottom-10">
            <div flex>
                <strong translate>Dados para Pagamento</strong>
            </div>
        </div>
        <div flex layout="row" class="margin-bottom-10">
            <div flex>
                <strong translate>Favorecido</strong>
            </div>
            <div flex>
                <span>Federação de Orientação da Paraíba</span>
            </div>
        </div>
        <div flex layout="row" class="margin-bottom-10">
            <div flex>
                <strong translate>CNPJ</strong>
            </div>
            <div flex>
                <span>13.189.836/0001-28</span>
            </div>
        </div>
        <div flex layout="row" class="margin-bottom-10">
            <div flex>
                <strong translate>Banco</strong>
            </div>
            <div flex>
                <span>Banco do Brasil</span>
            </div>
        </div>
        <div flex layout="row" class="margin-bottom-10">
            <div flex>
                <strong translate>Agência / Conta Corrente</strong>
            </div>
            <div flex>
                <span>AG. 3501-7 / CC. 40.150-1</span>
            </div>
        </div>
        <div flex layout="row" style="height: 30px;" class="margin-bottom-10">
            <div flex>
                <strong translate>Nº do comprovante</strong>
            </div>
            <div flex>
              <md-input-container   class="md-block">
                  <input required name="compNumber"  style="margin-top: -30px;"
                  ng-model="vm.order.compNumber" type="text" >
                  <div ng-messages="entryForm.compNumber.$error" ng-if="true">
                      <div ng-message when="required">
                          <span translate>Insira o número do comprovante</span>
                      </div>
                  </div>
              </md-input-container>
            </div>
        </div>
        <div flex layout="row" class="margin-bottom-10">
            <div flex="50">
                <strong translate>Comprovante</strong>
            </div>
            <div layout="row" flex="50">
              <md-button class="btns md-primary md-mini md-raised "  type="file"  accept="image/*"
              ngf-max-size="10MB" ngf-select="vm.upload($file)" ng-disabled="vm.status != 'Anexar'"   aria-label="upload">
                    {{vm.status}} <md-icon md-font-icon ng-class="{ 'zmdi zmdi-cloud-upload': vm.status == 'Anexar', 'fa fa-spinner fa-pulse': vm.status == 'Anexando', 'zmdi zmdi-check': vm.status == 'Completo'}"></md-icon>
              </md-button>
              <div flex="70" class="thumb_div">
                <img ngf-src="vm.comp" class="thumb">
              </div>
            </div>
        </div>
         <md-divider ></md-divider>
        <br/>
        <div flex layout="row" class="margin-bottom-10">
            <div flex>
                <strong translate>Dados do Atleta</strong>
            </div>
        </div>
        <div flex layout="row" class="margin-bottom-10">
            <div flex>
                <strong translate>Nome</strong>
            </div>
            <div flex>
                <span>{{vm.user.name | uppercase}}</span>
            </div>
        </div>
        <div flex layout="row" class="margin-bottom-10">
            <div flex>
                <strong translate>Email</strong>
            </div>
            <div flex>
                <span>{{vm.user.email}}</span>
            </div>
        </div>
        <div flex layout="row" class="margin-bottom-10">
            <div flex="50">
                <strong translate>Categoria</strong>
            </div>
            <div flex="50">
                  <md-select style="margin-top: -10px;" required placeholder="Category" name="category" ng-model="vm.order.category">
                      <md-option ng-value="category" ng-repeat="category in vm.categories">{{ category.name }}</md-option>
                  </md-select>
            </div>
        </div>

        <md-divider></md-divider>

        <table class="md-table">
            <thead>
                <tr>
                    <th translate>Descrição da Inscrição</th>
                    <th translate>DASHBOARDS.SALES.ORDER.PRICE</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.order.items">
                    <td>{{item.name}}</td>
                    <td class="text-right padding-right-10">{{item.value | currency:'R$':2}}</td>
                </tr>
            </tbody>
        </table>
        <table class="md-table" palette-background="grey:100">
            <tbody>
                <tr>
                    <td class="font-weight-600" translate>DASHBOARDS.SALES.ORDER.TOTAL</td>
                    <td class="text-right font-weight-600 padding-right-10">{{vm.order.value | currency:'R$':2}}</td>
                </tr>
            </tbody>
        </table>
      </form>
    </md-dialog-content>

    <md-dialog-actions class="" layout="row">
        <span flex></span>
        <md-input-container>
        <md-button ng-click="vm.entryStep(vm.order)" class="md-primary" ng-disabled="!vm.comp || !vm.order.compNumber" aria-label="{{GENERAL.OK | translate}}" translate="">
          Inscrever
        </md-button>
      </md-input-container>
    </md-dialog-actions>
</md-dialog>
