<div class="dashboard-container overlay-10 padded-content-page" layout="column">

  <div layout="row" layout-sm="column" layout-margin>
      <tri-widget flex title="Usuários" content-layout="column" content-layout-align="center">
          <md-data-table-container>
              <table md-data-table class="md-data-table" md-progress="vm.deferred">
                  <thead md-order="vm.query.order" md-trigger="vm.getClubs">
                      <tr>
                          <th name="Name" order-by="firstname" ></th>
                          <th name="Clube" order-by="club.name" ></th>
                          <th name="Ativo" order-by="isActive"></th>
                          <th name="Ação"></th>
                          <!-- <th name="Exluir"></th> -->
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="user in vm.users | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
                          <td>{{::user.firstname}} {{::user.surname}} </td>
                          <td>{{::user.club.name}}</td>
                          <td>
                            <md-switch ng-change="vm.activateUser(user)" class="md-primary" ng-model="user.isActive"
                            aria-label="Usuário ativo" >

                            </md-switch></td>
                          <td>
                            <div layout="row"  layout-wrap>
                              <div flex="33">
                                <md-button ng-click="vm.editUser(user, $event)" class="md-icon-button" aria-label="Editar Usuário">
                                    <md-icon md-font-icon="zmdi zmdi-edit"></md-icon>
                                </md-button>
                              </div>
                              <div flex="33">
                                <md-button ng-click="vm.openChangePass(user, $event)" class="md-icon-button" aria-label="Editar Usuário">
                                    <md-icon md-font-icon="zmdi zmdi-key"></md-icon>
                                </md-button>
                              </div>
                              <div flex="33">
                                <md-button ng-click="vm.removeUser(user, $event)" class="md-icon-button" aria-label="Remover Usuário">
                                    <md-icon md-font-icon="zmdi zmdi-delete"></md-icon>
                                </md-button>
                              </div>
                            </div>
                          </td>
                          <!-- <td>

                          </td> -->
                      </tr>
                  </tbody>
              </table>
          </md-data-table-container>
          <md-data-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.users.length}}"></md-data-table-pagination>
      </tri-widget>
  </div>

</div>
