<div ng-controller="UsersController">
<h1 chass="text-center">
    Contato
</h1>
<p ng-show="mensagem.texto">
    {{mensagem.texto}}
</p>

<form ng-submit="salvar()">
    <div class="form-group">
        <label for="nome">Nome</label>
        <input required type="text" id="nome" name="nome" class="form-control"
        ng-model="contato.nome">
        </input>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <div class="input-group">
            <span class"input-group-addon">@</span>
            <input required type="email"
             class="form-control" id="email" ng-model="contato.email">
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">
            Salvar
        </button>
        <a href="#/" class="btn btn-default">Voltar</a>
    </div>
</form>
</div>
