.sales-dashboard {
  .status {
    padding: 8px 14px;
    border-radius: 6px;
    min-width: 60px;
    display: inline-block;
    text-align: center;
    color: #fff;
  }
  .status-Cancelada {
    background-color: #696868;
  }
  .status-Aceita {
    background-color: #8BC34A;
  }
  .status-Processando {
    background-color: #F5BA0A ;
  }
}
