<md-dialog class="order-dialog mobile-fullwidth-dialog" flex="60" flex-sm="100">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 flex >
                <span>#{{vm.step.name}} - {{vm.step.locate}} {{vm.step.stepDate | amDateFormat:'DD/MM/YYYY' }}</span>
            </h2>
            <!-- <md-button class="md-icon-button" ng-click="vm.printClick()" aria-label="print">
                <md-icon md-font-icon="zmdi zmdi-print"></md-icon>
            </md-button> -->
            <md-button class="md-icon-button" ng-click="vm.cancelClick()" aria-label="cancel">
                <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content class="padding-20">
      <form name="entryForm">
        <div flex layout="row" class="margin-bottom-10">
            <div flex>
                <strong translate>Dados do Pagamento</strong>
            </div>
        </div>
        <div flex layout="row" style="height: 30px;" class="margin-bottom-10">
            <div flex>
                <strong translate>Nº do comprovante</strong>
            </div>
            <div flex>
              <md-input-container   class="md-block">
                  <input required name="compNumber"  style="margin-top: -30px;"
                  ng-model="vm.order.compNumber" type="text" >
                  <div ng-messages="entryForm.compNumber.$error" ng-if="true">
                      <div ng-message when="required">
                          <span translate>Número do comprovante</span>
                      </div>
                  </div>
              </md-input-container>
            </div>
        </div>
        <div flex layout="row" class="margin-bottom-10">
            <div flex="50">
                <strong translate>Estatus da Inscrição</strong>
            </div>
            <div flex="50">
                  <md-select style="margin-top: -10px;" placeholder="Estatus" name="stats" ng-model="vm.order.status">
                      <md-option ng-value="status.name" ng-repeat="status in vm.statusList">{{ status.name }}</md-option>
                  </md-select>
            </div>
        </div>

         <md-divider ></md-divider>
        <br/>
        <div flex layout="row" class="margin-bottom-10">
            <div flex>
                <strong translate>Dados do Atleta</strong>
            </div>
        </div>
        <div flex layout="row" class="margin-bottom-10">
            <div flex>
                <strong translate>Nome</strong>
            </div>
            <div flex>
                <span>{{vm.user.name | uppercase}}</span>
            </div>
        </div>
        <div flex layout="row" class="margin-bottom-10">
            <div flex>
                <strong translate>Email</strong>
            </div>
            <div flex>
                <span>{{vm.user.email}}</span>
            </div>
        </div>
        <div flex layout="row" class="margin-bottom-10">
            <div flex="50">
                <strong translate>Categoria</strong>
            </div>
            <div flex="50">
                  <md-select style="margin-top: -10px;" placeholder="Category" name="category" ng-model="vm.order.category">
                      <md-option ng-value="category" ng-repeat="category in vm.categories">{{ category.name }}</md-option>
                  </md-select>
            </div>
        </div>

        <md-divider></md-divider>

        <table class="md-table">
            <thead>
                <tr>
                    <th translate>Descrição da Inscrição</th>
                    <th translate>DASHBOARDS.SALES.ORDER.PRICE</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.order.items">
                    <td>{{item.name}}</td>
                    <td class="text-right padding-right-10">{{item.value | currency:'R$':2}}</td>
                </tr>
            </tbody>
        </table>
        <table class="md-table" palette-background="grey:100">
            <tbody>
                <tr>
                    <td class="font-weight-600" translate>DASHBOARDS.SALES.ORDER.TOTAL</td>
                    <td class="text-right font-weight-600 padding-right-10">{{vm.order.value | currency:'R$':2}}</td>
                </tr>
            </tbody>
        </table>
      </form>
    </md-dialog-content>

    <md-dialog-actions class="" layout="row">
        <span flex></span>
        <md-input-container>
        <md-button ng-click="vm.editEntry(vm.order)" class="md-primary"  aria-label="{{GENERAL.OK | translate}}" translate="">
          Alterar
        </md-button>
      </md-input-container>
    </md-dialog-actions>
</md-dialog>
